# Go build cache / artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Go temporary build output
*.out

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# asdf
.tool-versions

# gokebiten save files
*.game.save
*.game.*.save
